[Unit]
Description=ExperienceBuffers Python Service
After=default.target

[Service]
User=root
Type=Simple
ExecStart=/usr/local/bin/EBServer
WorkingDirectory=/root/ExperienceBuffers
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
