[Unit]
Description=ExperienceBuffers Python Service
After=default.target

[Service]
Type=Simple
ExecStart=%h/.local/bin/EBServer
WorkingDirectory=%h/ExperienceBuffers
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target